.header{
    color: #0f003c;
    background-color: aquamarine;
}

.header.center{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}

.main{
    background-color: azure;
    width: 90%;
    margin: auto;
}

.left{
    align-content: flex-start;
}