.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.right-block{
    display: block;
    margin-right: auto;
}
.left-block{
    display: block;
    margin-left: auto;
}

.bg{
    background-image: url("../images/head-photo.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}